// Universals

html, body{
	margin:0px;
	padding:0px;
	width:100%;
}

// Structure

.wrapper{
	width:100%;
}

#wrapper-header{
	background:#fff;
}

	#header{
		height:78px;
	}

#wrapper-banner{
	background:#1b659f;
}

	#banner{
		color:#fff;
		height:480px;
	}

#wrapper-main{
	background:#fff;
}

	#main{

	}

		#content{

		}

		#sidebar{

		}

// Header content

.navigation{
	display:inline-block;
	list-style:none;
	margin:0px;
	padding:0px;
	width:100%;
}

	.navigation li{
		display:inline-block;
		margin:0px;
		padding:0px;
	}
