// Variables

@text-color:#3a434c;
@text-anchor:#298cbf;
@text-highlight:#3ecceb;
@text-alt-highlight:#abdd3e;

@font-sans-light: "Brandon Grotesque Light", Helvetica Neue, Helvetica, Arial, sans-serif;
@font-sans-roman: "Brandon Grotesque Regular", Helvetica Neue, Helvetica, Arial, sans-serif;
@font-sans-medium: "Brandon Grotesque Medium", Helvetica Neue, Helvetica, Arial, sans-serif;
@font-sans-alt-roman: "Avenir Roman", Helvetica Neue, Helvetica, Arial, sans-serif;
@font-serif-roman: "Adelle Regular", Georgia, Times, serif;
@font-serif-roman-italic: "Adelle Italic", Georgia, Times, serif;

// Font faces

@font-face {
	font-family: 'Brandon Grotesque Light';
	src: url('../fonts/Brandon_light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Brandon_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/Brandon_light.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/Brandon_light.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/Brandon_light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Brandon Grotesque Regular';
	src: url('../fonts/Brandon_reg.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Brandon_reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/Brandon_reg.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/Brandon_reg.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/Brandon_reg.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Brandon Grotesque Medium';
	src: url('../fonts/Brandon_med.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Brandon_med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/Brandon_med.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/Brandon_med.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/Brandon_med.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Avenir Roman';
	src: url('../fonts/AvenirLTStd-Roman.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/AvenirLTStd-Roman.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/AvenirLTStd-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/AvenirLTStd-Roman.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Adelle Regular';
	src: url('../fonts/adelle_regular-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/adelle_regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/adelle_regular-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/adelle_regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/adelle_regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Adelle Italic';
	src: url('../fonts/adelle_italic-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/adelle_italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/adelle_italic-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/adelle_italic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/adelle_italic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// Universals

html, body{
	color:@text-color;
	font:normal 18px/24px @font-sans-alt-roman;
	margin:0px;
	padding:0px;
	width:100%;
	-webkit-font-smoothing:	antialiased;
}

a{
	color:@text-anchor;
	text-decoration:none;
}

	a:hover{
		color:darken(@text-anchor, 20%);
	}

// Structure

.wrapper{
	width:100%;
}

#wrapper-header{
	background:#1b659f url('/static/images/banner_waves.jpg') 50% 55% no-repeat;
}

	#header{
		height:78px;
	}

	#banner{
		color:#fff;
		height:480px;
	}

#wrapper-main{
	background:#fff;
}

	#main{
		padding:60px 0px 60px 0px;
	}

		#content{
			margin:0px;
			padding:0px;
		}

		#sidebar{
			padding-top:52px;
		}

#wrapper-contact{
	background:#1b659f url('/static/images/diagmonds.png') top center repeat;
}

	#contact{
		color:#eaf3f6;
		padding:100px 0px 80px 0px;
	}

// Common elements

.highlight{
	color:@text-highlight;
}

.alt-highlight{
	color:@text-alt-highlight;
}

.navigation{
	display:inline-block;
	list-style:none;
	margin:0px;
	padding:0px;
	width:100%;
}

	.navigation li{
		display:inline-block;
		margin:0px;
		padding:0px;
	}

		.navigation a{
			color:@text-color;
			display:block;
			width:100%;
		}

.buttons{
	list-style:none;
	margin:0px;
	padding:0px;
	text-align:center;
}

	.buttons li{
		display:inline-block;
	}

		.buttons a,
		.button{
			background:#3ebceb;
			color:#fff;
			display:inline-block;
			font:normal 16px/16px @font-sans-medium;
			margin:0px;
			padding:10px 18px;
			text-transform:uppercase;
		}

			.buttons a.first{
				background:#298cbf;
			}

			.buttons a.last{
				background:#4b93dd;
			}

// Header content

#logo{
	color:#fff;
	font:normal 28px/26px @font-sans-roman;
	margin:0px;
	padding:26px 0px 0px 0px;
	text-transform:uppercase;
}

#header .navigation{
	display:block;
	font:normal 18px/26px @font-serif-roman;
	float:right;
	padding:26px 0px 0px 0px;
	text-transform:lowercase;
	width:auto;
}

	#header .navigation li{
		padding-left:15px;
	}

	#header .navigation a{
		color:darken(@text-color, 5%);
	}

// Banner content

#banner h2{
	font:normal 75px/68px @font-sans-light;
	margin:0px;
	padding:134px 0px 20px 0px;
	text-shadow:1px 1px 2px rgba(0, 0, 0, 0.25);
	text-transform:uppercase;
}

#banner h3{
	background: rgba(255, 255, 255, 0.1);
	display:inline-block;
	font:normal 28px/28px @font-serif-roman-italic;
	margin:0px;
	padding:4px 4px;
	text-shadow:1px 2px 1px rgba(0, 0, 0, 0.15);
	width:auto;
}

// Sidebar content

#sidebar .navigation{
	display:block;
}

	#sidebar .navigation li{
		display:block;
		font:normal 20px/32px @font-serif-roman-italic;
		text-transform:lowercase;
		width:100%;
	}

// Page content

#content h1{
	font:normal 26px/26px @font-sans-medium;
	margin:0px 0px 30px 0px;
	text-transform:uppercase;
}

#content h2{
	font:normal 20px/26px @font-sans-medium;
	margin:1em 0px 1em 0px;
	text-transform:uppercase;
}

#content p{
	font:normal 18px/24px @font-sans-alt-roman;
	margin:1em 0px;
}

	#content p.intro{
		font:normal 20px/26px @font-serif-roman;
	}

#content ul{
	font:normal 18px/24px @font-sans-alt-roman;
	list-style:circle;
	margin:1em 0px;
}

#after-content{
	background:#fff;
	border-top:1px dashed #bbb;
	margin:24px 0px 0px 0px;
	padding:24px 0px 0px 0px;
}

	#after-content p{
		margin:0px;
	}
	
	.blog-link a{
		display:block;
		width:100%;
	}

// Contact content

#contact h4{
	display:block;
	font:normal 40px/40px @font-sans-alt-roman;
	margin:0px 0px 20px 0px;
	padding:0px;
	text-align:center;
	width:100%;
}

#contact p{
	display:block;
	font:normal 20px/24px @font-sans-alt-roman;
	margin:1em 0px 30px 0px;
	text-align:center;
	width:100%;
}

		#contact .buttons a{
			background:#22bbd3;
			text-shadow:1px 1px 2px rgba(0, 0, 0, 0.10);
		}

			#contact .buttons a.first{
				background:#1587bf;
			}

			#contact .buttons a.last{
				background:#2c79de;
				background:#78ba27;
			}

// Media styles

@media only screen and (min-width: 1600px) {

	#wrapper-header{
		background:#1b659f url('/static/images/banner_waves.jpg') fixed bottom bottom no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

}
